html {
  height: 100%;
  overflow-y: scroll;
}

body {
  color: #455a64;
  background-color:#1de9b6;
}

.container {
  background-color: #fff;
}

a {
color: #455a64;
}

#reverse {
  display:none;
  text-align:center;
  margin-top: 10px;
  font-size: 1.25em;
}

#reverse-click {
  font-weight: bold;
  color: #90a4ae;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.chunk {
  margin: 10px;
}

.the-form {
  flex-basis: 30%;
  flex-grow: 2;
}

.robot {
  flex-basis: 500px;
}

.robot-replace {
  width: 100%;
}

#results {
  display:none;
  margin:auto;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  border: 1px dotted #263238;
  border-radius: 20px;
  width: 50%;
}

#results p {
  margin:0;
}

#results h3 {
  margin-top: 0;
}

.jumbotron {
  text-align: center;
  background-color: #90a4ae;
}

.jumbotron h1 {
  font-weight: bold;
}

.jumbotron h1,
.jumbotron h2 {
  color: #455a64;
}

.footer {
  height: 40px;
  text-align: center;
  margin-top: 30px;

}

#ref {
  color: #90a4ae;
}

/***robot button***/

.btn {
  color: #fff;
  background-color: #1de9b6;
  border-color: #1de9b6;
}
.btn-robot:focus,
.btn-robot.focus {
  color: #fff;
  background-color: #1dc49a;
  border-color: #1dc49a;
}
.btn-robot:hover {
  color: #fff;
  background-color: #1dc49a;
  border-color: #1dc49a;
}

/***media queries***/

@media all and (max-width: 640px) {
  #results {
    width: 100%;
  }
}

@media all and (max-width: 769px) {
  .jumbotron {
    border: 5px solid #1de9b6;
  }
}
